* {
    box-sizing: border-box;
}

:root {
    --fontSize: large;
}

main,
.main {
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
    align-self: center;
    margin: 7vh 15vw;
    padding: 20px;
    background-color: #5B9676;
    border: solid 2px black;
}

body {
    background-image: url(images/3240971752_\(1\)_upscaled.png);
}



img {
    max-width: 100%;
}

/* header thing */

aside>nav {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 1vw;
    width: 13vw;
    /* Set the width of the sidebar */
    position: absolute;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 1;
    /* Stay at the top */
    right: 0;
    background: #5B9676;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    justify-content: space-evenly;
    align-items: center;
}

aside>nav>a {
    border: solid 1px black;
    background-color: #9E1D21;
    color: #F3D13C;
    padding: 5px;

}



/* Footer */

footer {
    display: flex;
    flex-flow: row nowrap;
    border: solid 2px black;
}

.staff {
    font-size: var(--fontSize);
    background-color: #236154;
    width: 49.14vw;
}

.staff-info {
    display: flex;
    background-color: #5B9676;
    padding: 3vh;
    margin: 3vh 3vw;
    border-radius: 15px;
    min-width: 15vw;

    flex-direction: column;
    border: solid 2px black;
}

.staff-info>h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}

.staff-link,
.staff-link-class {
    background-color: #9E1D21;
    border-radius: 15px;
    color: #F3D13C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 5px;
}

.buttons {
    background-color: #236154;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 49.14vw;
}

.buttons>a {
    background-color: #9E1D21;
    color: #F3D13C;
    padding: 5px;
    border: solid 2px #9E1D21;
    border-radius: 15px;
    font-size: x-large;
}

/* Home \/ */

header>figure {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tickets-home {
    display: flex;
    width: 100%;
    background-color: #D7D3C6;
}

.packages-home {
    display: flex;
    width: 100%;
    background-color: #D7D3C6;
}

.transportation-home {
    display: flex;
    width: 100%;
    background-color: #D7D3C6;
}

.packages-home>figure {
    display: flex;
    flex-direction: column;
    width: 24%
}

.transportation-home>figure {
    display: flex;
    flex-direction: column;
    width: 24%
}

.button-home {
    background-color: #D7D3C6;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
}

.button-home>a {
    background-color: #9E1D21;
    color: #F3D13C;
    padding: 5px;
}

.middle-picture>figure {
    display: flex;
    justify-content: space-around;
}

/* Tickets \/ */



.button-tickets1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.button-tickets2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.button-tickets1>a {
    background-color: #b2a696;
    color: black;
    padding: 20px;
}

.button-tickets2>a {
    background-color: #9E1D21;
    color: #F3D13C;
    padding: 20px;
}

.information-tickets {
    display: flex;
    background-color: #236154;
    padding: 10px;
    border: 3px solid black;
}

.boxes-tickets {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.box1-tickets {
    display: flex;
    background-color: #bcc090;
    border: 3px solid black;
    margin-top: 40px;
    padding: 120px;
}

.box2-tickets {
    display: flex;
    background-color: #bcc090;
    border: 3px solid black;
    margin-top: 40px;
    padding: 120px;
}

.box3-tickets {
    display: flex;
    background-color: #bcc090;
    border: 3px solid black;
    margin-top: 40px;
    padding: 120px;
}

.box4-tickets {
    display: flex;
    background-color: #bcc090;
    border: 3px solid black;
    margin-top: 40px;
    padding: 120px;
}

.box5-tickets {
    display: flex;
    background-color: #bcc090;
    border: 3px solid black;
    margin-top: 40px;
    padding: 120px;
}

.box6-tickets {
    display: flex;
    background-color: #bcc090;
    border: 3px solid black;
    margin-top: 40px;
    padding: 120px;
}

.box7-tickets {
    display: flex;
    background-color: #bcc090;
    border: 3px solid black;
    margin-top: 40px;
    padding: 120px;
}

.box8-tickets {
    display: flex;
    background-color: #bcc090;
    border: 3px solid black;
    margin-top: 40px;
    padding: 120px;
}

.box9-tickets {
    display: flex;
    background-color: #bcc090;
    border: 3px solid black;
    margin-top: 40px;
    padding: 120px;
}

.box10-tickets {
    display: flex;
    background-color: #bcc090;
    border: 3px solid black;
    margin-top: 40px;
    padding: 120px;
}

.box11-tickets {
    display: flex;
    background-color: #bcc090;
    border: 3px solid black;
    margin-top: 40px;
    padding: 120px;
}

.total-tickets {
    display: flex;
    background-color: #236154;
    border: 3px solid black;
    margin-top: 40px;
    padding: 20px;
    width: 100%;
}

/* Date Select */
.instructions {
    background-color: #5B9676;
}

#date-selection>section {
    margin: 25px 0px;
    padding: 10px;
    background-color: #5B9676;
}

#date-selection {
    background-color: #236154;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    border: black solid 2px;
}

section.row.monthHolder {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

section.row.monthTitles {
    display: flex;
    justify-content: space-around;
}

table {
    display: flex;
    flex-flow: row nowrap;
    align-self: stretch;
    justify-content: center;
    flex-grow: 1;
    border-collapse: collapse;
    margin: 0px 10px;
}

tr {
    border-collapse: collapse;
}

td {
    /* border: 2px solid red; */
    margin: -1px;
    height: 4vw;
    width: 4vw;
    text-align: center;
    border: black 2px solid;
    margin: 10px;
    background-color: #D9D9D9;
    border-spacing: 0px;
    border-collapse: collapse;
    font-size: var(--fontSize);
}

td:empty {
    border: black 0px solid;
    background-color: #C5C5C5;
}

.monthHolder>p {
    font-size: xx-large;
}

.monthTitles>section {
    font-size: var(--fontSize);
}

tr:first-of-type>td {
    border: black none 0px;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}

tr:first-of-type>td:first-of-type {
    border: black none 0px;
    border-left: black solid 2px;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}

tr:first-of-type>td:last-of-type {
    border: black none 0px;
    border-right: black solid 2px;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}

main#date-selection>#date-navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: #236154;
}

.inPageNavigation>.return {
    background-color: #9E1D21;
    color: #F3D13C;
    padding: 5px;
    border: solid 2px #9E1D21;
    border-radius: 15px;
    font-size: x-large;
    margin-right: 20vw;
    text-align: center;
    min-width: 70px;
}

.inPageNavigation>.pay {
    background-color: #9E1D21;
    color: #F3D13C;
    padding: 5px;
    border: solid 2px #9E1D21;
    border-radius: 15px;
    font-size: x-large;
    margin-left: 20vw;
    text-align: center;
    min-width: 70px;
}

/* Card Payment */
.instructions,
.cardInstructions,
.birthdayTitle {
    font-size: var(--fontSize);
}

.totalCost {
    font-size: var(--fontSize);
}

section>input {
    flex-flow: column nowrap;
    align-items: center;
}

input {
    font-size: var(--fontSize);
    height: 50px;
    background-color: #BCC090;
    border: black solid 2px;
}

select {
    font-size: var(--fontSize);
    height: 50px;
}

.countryDropdown,
#stateDropdown {
    background-color: #BCC090;
    border: black solid 2px;
}

.infoInput {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.infoInput>* {
    padding-top: 10px;
}

.cardNum {
    flex-flow: column wrap;
    display: flex;
    align-items: stretch;
}

.multiInput.cardSecInfo {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex: 1;
}

.multiInput>* {
    padding-top: 10px;
}

.experationDate,
.cardHolderInfo,
.birthdate,
.stateAndZip,
.multiInput.home {
    display: flex;
}

.experationDate>*,
.cardHolderInfo>*,
.birthdate>*,
.zip,
.multiInput.home>* {
    flex: 1;
    width: 1vw;
}

#card-payment>.instructions {
    text-align: center;
}

#card-payment>section>.inPageNavigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}


/* About */

.about-info {
    font-size: var(--fontSize);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Angel-img,
.Corbin-img,
.Victoria-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    scale: 1.3;
}

.Angel-text,
.Corbin-text,
.Victoria-text {
    width: 85%;
}

.About,
.Angel,
.Corbin,
.Victoria {
    display: flex;
    max-width: 85%;
    background-color: #D7D3C6;
    font-size: var(--fontSize);
    padding: 15px;
    margin: 10px;
    border: solid 2px black;
}

.Corbin {
    flex-direction: row-reverse;
}

.About {
    max-width: 65%;
    padding: 10px;
}

/* Infomation */

.main-info>h1 {
    display: flex;
    justify-content: center;

}

.transport-info>figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;

}

.transport-info {
    font-size: var(--fontSize);
    display: flex;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 15px;
    border: solid 2px black;
    background-color: #D7D3C6;

}

.transport-info-text {
    display: flex;
    flex-direction: column;
    width: 74%;
}

.tickets-info,
.expedition {
    font-size: var(--fontSize);
    background-color: #D7D3C6;
    border-radius: 15px;
    border: solid 2px black;
    margin: 10px;
    padding: 15px;
}

.ticket-button {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket-button>a {
    background-color: #9E1D21;
    color: #F3D13C;
    padding: 5px;
    border: solid 2px #9E1D21;
    border-radius: 15px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

.expedition {
    display: flex;
}

.expedition>.expedition-volcano {
    display: flex;
    flex-direction: column;
    width: 25%;
    scale: 1.3;
}


.expedition>.expedition-dino {
    display: flex;
    flex-direction: column;
    width: 25%;
    scale: 1.3;
}

.expedition-text {
    width: 75%;
}

/* FAQ */

.main-faq {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    margin: 15px;
}

.main-faq>h1 {
    background-color: #5aa57c;
    padding: 10px;
    display: flex;
    flex-flow: column;
    font-size: xx-large;
    align-self: center;
    border: solid 2px black;
}

.collapsible {
    background-color: #5B9676;
    font-size: var(--fontSize);
    padding: 18px;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
    border: solid 1px black;
}

.active,
.collapsible:hover {
    background-color: #5aa57c;
}

.content {
    padding: 0 18px;
    font-size: var(--fontSize);
    overflow: hidden;
    background-color: #D7D3C6;
    text-align: left;
    max-height: 0;
    transition: max-height .2s ease-out;
    border: solid 1px black;
}

.collapsible:after {
    content: '\002B';
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: larger;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.main-FAQ {
    background-color: transparent;
    border-color: transparent;
}

.top-img>img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Phone --only changed styles*/

@media only screen and (max-width:1470px) {

    .transport-info,
    .expedition {
        display: flex;
        flex-flow: row wrap;
    }

    .Angel,
    .Corbin,
    .Victoria {
        flex-flow: column wrap;
        max-width: 75%;
        align-items: center;
    }

    .Angel-img,
    .Corbin-img,
    .Victoria-img {
        min-width: 40%;
    }

}

@media only screen and (max-width:880px) {
    footer {
        flex-flow: row wrap;
    }

    .staff {
        width: 100vw;
    }

    .buttons {
        width: 100vw;
        padding-bottom: 10px;
    }

    .Angel-img,
    .Corbin-img,
    .Victoria-img {
        min-width: 50%;
    }


}

@media only screen and (max-width:690px) {
    #card-payment {
        padding: 1vw;
    }

    table:nth-of-type(2) {
        display: none;
        font-size: xx-large;
    }

    section.month2 {
        display: none;
    }

    td {
        /* border: 2px solid red; */
        height: 7vw;
        width: 7vw;
    }

    .inPageNavigation>.return {
        margin-right: 10vw;
    }

    .inPageNavigation>.pay {
        margin-left: 10vw;
    }
}

@media only screen and (max-width:620px) {
    #card-payment {
        padding: 4px;
    }
}

@media only screen and (max-width:500px) {

    .multiInput>.experationDate,
    .multiInput.cardHolderInfo,
    .birthdate.triInput,
    .multiInput.home {
        flex-wrap: wrap;
    }

    .multiInput>.experationDate>*,
    .multiInput.cardHolderInfo>*,
    .birthdate.triInput>*,
    .multiInput.home>* {
        width: fit-content;
    }

    .cardNum,
    .countryDropdown,
    .cityOrRegion,
    .stateAndZip,
    .emailInput,
    .phoneInput,
    .experationDate,
    .cardSecInfo,
    .cardHolderInfo,
    .birthday,
    .multiInput.home,
    #card-payment>.instructions,
    .totalCost {
        max-width: 63vw;
    }

    .cvv {
        margin-top: 20px;
    }
}

@media only screen and (max-width:480px) {

    main,
    .main {
        margin: 0vh 0vw;
        padding: 0px;
        left: 0;
    }

    .cardNum,
    .countryDropdown,
    .cityOrRegion,
    .stateAndZip,
    .emailInput,
    .phoneInput,
    .experationDate,
    .cardSecInfo,
    .cardHolderInfo,
    .birthday,
    .multiInput.home,
    #card-payment>.instructions,
    .totalCost {
        max-width: 99vw;
    }

    td {
        /* border: 2px solid red; */
        height: 10vw;
        width: 10vw;
    }

    /* .about-info>h1 {
    max-width: 50%;
 } */
 
 .transport-info{
    text-align: center;
 }
    .transport-info>figure {
        width: 85%
    }
}

@media only screen and (max-width:380px) {
    #date-selection>.monthInput {
        padding: 2px;
    }
}